window_shape-for-GMS1/*

window_shape-for-GMS2/*
!window_shape-for-GMS2/assetpackage.yy

window_shape-for-GMS2.3+/*
!window_shape-for-GMS2.3+/window_shape_23.yyp
!window_shape-for-GMS2.3+/metadata.json